* {
  padding: 0%;
  margin: 0%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
}
.div1 {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

p {
  margin-left: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.route-link {
  color: #12022f;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}
